@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SiteEngine.Models.Amplua

@section CustomerLayout {
    <header>
        <div class="container">
            <ul class="nav justify-content-center mb-2">
                <form method="get" asp-action="CreateOrder" asp-controller="CustomerBoard">
                    <button class="btn btn-outline-success">Новый заказ</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="#">Чаты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Заказы</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="IndexOrderList" asp-controller="CustomerBoard">Все закзы</a></li>
                        <li><a class="dropdown-item" asp-action="IndexOrderListByFilter" asp-controller="CustomerBoard" asp-route-statusesId="F">Мои Завершенные</a></li>
                        <li><a class="dropdown-item" asp-action="IndexOrderListByFilter" asp-controller="CustomerBoard" asp-route-statusesId="S">В работе</a></li>
                        <li><a class="dropdown-item" asp-action="IndexOrderListByFilter" asp-controller="CustomerBoard" asp-route-statusesId="C">Отмененные</a></li>
                        <li><a class="dropdown-item" asp-action="IndexOrderListByFilter" asp-controller="CustomerBoard" asp-route-statusesId="X">Удаленные</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-action="MyProfileCustomer" asp-controller="CustomerBoard">Мой профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/MainPage/Index">Выйти из профиля</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/site.js"></script>
}


