@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="justify-content-center">

            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>