@using SiteEngine.Models.Account;
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/mainContent.cshtml";
}

<div class="container">
    <div class="row row-gap-3 align-items-center">
        <div class="col p-3"></div>
        <div class="col-6 p-3">
            <div class="d-flex justify-content-center">
                <form asp-action="Registration" asp-controller="Account">
                    <div class="p-2 flex-fill">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <div class="form-floating">
                                <input asp-for="UserName"
                                       type="text"
                                       class="form-control"
                                       placeholder="Введите логин" />
                                <label asp-for="UserName" class="form-label">Логин</label>
                            </div>
                        </div>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>

                    <div class="p-2 flex-fill">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <div class="form-floating">
                                <input asp-for="PasswordHash"
                                       type="password"
                                       class="form-control"
                                       placeholder="Введите пароль"
                                       value="@Model?.PasswordHash" />
                                <label class="form-label" asp-for="PasswordHash">Пароль</label>
                            </div>
                        </div>
                        <span class="text-danger" asp-validation-for="PasswordHash"></span>
                    </div>

                    <div class="p-2 flex-fill">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <div class="form-floating">
                                <input asp-for="RepeatPasswordHash"
                                       type="password"
                                       class="form-control"
                                       placeholder="Повторите пароль"
                                       value="@Model?.RepeatPasswordHash" />
                                <label class="form-label" asp-for="RepeatPasswordHash">Повторите пароль</label>
                            </div>
                        </div>
                        <span class="text-danger" asp-validation-for="RepeatPasswordHash"></span>
                    </div>

                    <div class="text-danger mb-2">@ViewBag.RegisterError</div>
                    <div class="p-2 flex-fill d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Создать учетную запись на сайте</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col p-3"></div>
    </div>
</div>