@using SiteEngine.Models.Amplua

@{
    Layout = "~/Views/Shared/mainContent.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                @if (!Model.IsCustomer)
                {
                    <div class="card-body">
                        <h5 class="card-title">Профиль Заказчика</h5>
                        <p class="card-text">Нет созданного профиля Заказчика</p>
                        <button type="button" class="btn btn-outline-secondary" onclick="window.location = window.origin+'/amplua/CreateProfileCustomer'">
                            Создать профиль Заказчика
                        </button>
                    </div>
                } 
                else
                {
                    <div class="card-body">
                        <h5 class="card-title">Профиль Заказчика</h5>
                        <p class="card-text">Доступные варианты действия: </p>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-success" onclick="window.location = window.origin+'/CustomerBoard/MyProfileCustomer'">
                                Войти
                            </button>
                            <button type="button" class="col btn btn-outline-warning" onclick="window.location = window.origin+'/CustomerBoard/EditMyProfileCustomer'">
                                Изменить
                            </button>
                            <button type="button" class="col btn btn-outline-danger" onclick="window.location = windo.origin+'/CustomerBoard/RemoveProfileCustomer'">
                                Удалить профиль
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                @if (!Model.IsPerformer)
                {
                    <div class="card-body">
                        <h5 class="card-title">Профиль Исполнителя</h5>
                        <p class="card-text">Нет созданного профиля Исполнителя</p>
                        <button type="button" class="btn btn-outline-secondary" onclick="window.location = window.origin+'/amplua/CreateProfilePerformer'">
                            Создать профиль Исполнителя
                        </button>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <h5 class="card-title">Профиль Исполнителя</h5>
                        <p class="card-text">Доступные варианты действия: </p>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-success" onclick="window.location = window.origin+'/PerformerBoard/MyProfilePerformer'">
                                Войти
                            </button>
                            <button type="button" class="col btn btn-outline-warning" onclick="window.location = windo.origin+'/PerformerBoard/EditMyProfilePerformer'">
                                Изменить
                            </button>
                            <button type="button" class="col btn btn-outline-danger" onclick="window.location = windo.origin+'/PerformerBoard/RemoveProfilePerformer'">
                                Удалить профиль
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>