@using SiteEngine.Models.Amplua

@* Нужно прокинуть контекст таблицы user, для определения есть ли у профиля пользователя связь с профилем исполнителя и заказчика *@
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="row align-items-center">
            <div class="vstack gap-3">
                <div class="p-2 btn-group dropend">
                    @if (!Model.IsCustomer)
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = window.origin+'/amplua/CreateProfileCustomer'">
                            Профиль заказчика
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = window.origin+'/amplua/MyProfileCustomer'">
                            Профиль заказчика
                        </button> 
                    }
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Переключатель выпадающего списка Заказчика</span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (!Model.IsCustomer)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-success" onclick="window.location = window.origin+'/amplua/CreateProfileCustomer'">
                                        Создать профиль
                                    </button>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="dropdown-item btn btn-success" onclick="window.location = window.origin+'/amplua/MyProfileCustomer'">
                                        Войти
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-warning" onclick="window.location = window.origin+'/amplua/EditMyProfileCustomer'">
                                        Изменить
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-danger">
                                        Удалить профиль
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="p-2 btn-group dropend">
                    @if (!Model.IsPerformer)
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = window.origin+'/amplua/CreateProfilePerformer'">
                            Профиль исполнителя
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = window.origin+'/amplua/MyProfilePerformer'">
                            Профиль исполнителя
                        </button>
                    }
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Переключатель выпадающего списка Исполнителя</span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (!Model.IsPerformer)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-success" onclick="window.location = window.origin+'/amplua/CreateProfilePerformer'">
                                        Создать профиль
                                    </button>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-success" onclick="window.location = window.origin+'/amplua/MyProfilePerformer'">
                                        Войти
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-warning">
                                        Изменить
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <button type="button" class="btn btn-danger">
                                        Удалить профиль
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>