html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.scroll-content {
    height: 200px;
    overflow: scroll;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.rounded-4 {
    border-radius: 5%;
}

.newStyle {
    background-color: #CCFFCC ;
}

.startStyle {
    background-color: #66CCFF;
}

.deletedStyle {
    background-color: #FF99CC;
}

.discussStyle {
    background-color: #FFFFCC;
}

.canceledStyle {
    background-color: #FFCC99;
}

.finishedStyle {
    background-color: #32CD32;
}

.dropdown-menu-checkboxes {
    padding: 10px;
    min-width: 200px;
}

.scroll-content {
    max-height: 150px; /* Устанавливает максимальную высоту для прокручиваемого контента */
    overflow-y: auto; /* Добавляет вертикальную прокрутку */
}

.status-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.status-new {
    background-color: #CCFFCC; /* Цвет для нового заказа */
}

.status-in-progress {
    background-color: #66CCFF; /* Цвет для заказа в процессе */
}

.status-completed {
    background-color: #32CD32; /* Цвет для завершенного заказа */
}

.status-canceled {
    background-color: #FFCC99; /* Цвет для отмененного заказа */
}

.status-deleted {
    background-color: #FF99CC; /* Цвет для удаленного заказа */
}

.status-discuss {
    background-color: #FFFFCC;
}

.star-rating {
    display: flex;
    direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
}

    .star:hover,
    .star.selected {
        color: gold;
    }