@* @using SiteEngine.Models.Account
@model AccountViewModel *@

@{
    Layout = null;

    @*var isVisibleRegisterTab = Model?.RegisterViewModel != null; *@
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteEngine.styles.css" asp-append-version="true" />
</head>
<body>
    <p>Hello world !!!</p>
</body>
</html>

